<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1"> <!-- FOR BULMA -->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- jQuery Link -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- AJAX Link -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>[NAME] - The Everything Network</title>

    <!-- OCTA -->
    <script src="https://ok1static.oktacdn.com/assets/js/sdk/okta-signin-widget/2.16.0/js/okta-sign-in.min.js"
        type="text/javascript"></script>
    <link href="https://ok1static.oktacdn.com/assets/js/sdk/okta-signin-widget/2.16.0/css/okta-sign-in.min.css"
        type="text/css" rel="stylesheet" />
    <link href="https://ok1static.oktacdn.com/assets/js/sdk/okta-signin-widget/2.16.0/css/okta-theme.css"
        type="text/css" rel="stylesheet" />

    <!-- Bulma Link -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <!-- CSS Link -->
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <!-- Javascript Links // May not need this -->
    <script src="/assets/js/comment.js" type="text/javascript"></script>

</head>

<body>
    {{{ body }}}
</body>

</html>

<html>