<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1"> <!-- FOR BULMA -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- jQuery Link -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- AJAX Link -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CASTER its like youtube but for podcasts.</title>

    <!-- Bulma Link -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <!-- CSS Link // May not need this -->
    <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
    <!-- Javascript Link // May not need this -->
    <script src="/assets/js/cast.js"></script>
    <script src="/assets/js/comment.js"></script>

</head>
<body>
    {{{ body }}}
</body>
</html>

<html>
