<!-- MOSAIC OF IMAGES -->
<div class="columns main">
    <div id="mosaic" class="column">
        {{#each posts}}
        <img class="mosaic-image lazy" src="{{this.post_image}}" data-id="{{this.id}}" onerror="this.src='/images/error.jpg'" loading="lazy" style="cursor:pointer;">
        {{/each}}
    </div>
</div>

<script id="GO_TO_PAGE">
$(".mosaic-image").on("click", function toPage(){
    let id = $(this).attr("data-id");
    console.log(id);
    window.location.href = "/post/" + id;
});
</script>

<script id="IMAGE_SIZE_RANDOMIZER">
$(".mosaic-image").each(function randomClass(){
  console.log("this:", this);
  let random = Math.floor(Math.random() * 6);
  console.log(random);
  if (random <= 1){
      $(this).addClass("mosaic-small");
  }
  else if (random <= 4){
      $(this).addClass("mosaic-med");
  }
  else {
      $(this).addClass("mosaic-lrg");
  }
});
</script>