<!-- MOSAIC OF IMAGES -->
<div class="columns main">
    <div id="mosaic" class="column">
        {{#each posts}}
        <img class="mosaic-image" src="{{this.post_image}}">
        {{/each}}
    </div>
</div>


<script id="IMAGE_SIZE_RANDOMIZER">
$(".mosaic-image").each(function randomClass(){
  console.log("this:", this);
  let random = Math.floor(Math.random() * 6);
  console.log(random);
  if (random <= 1){
      $(this).addClass("mosaic-small");
  }
  else if (random <= 4){
      $(this).addClass("mosaic-med");
  }
  else {
      $(this).addClass("mosaic-lrg");
  }
});
</script>