body, html{
    height: 100%;
}

.main{
    background-image: url("../images/diagonal.jpg");
    height: 100%;
    background-repeat: repeat;
    background-size: 200px;
}

#post-main{
    display: flex;
    flex-wrap: wrap;
}

#post-column{
   margin-left: 5%;
}

#comments{

}

.card{
    margin-top: 5%;
}

.post-title{
    color: white;
    font-size: 1.5rem;
    margin-top: 15px;
    margin-bottom: 25px;
}

.post-body{
    margin-top: 15px;
    color: white;
}

.card-content{
    background-color: rgb(20, 20, 20);
}

#mosaic{
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: space-evenly;
    align-items: stretch;
    overflow: scroll;
}

.mosaic-small {
    margin: 0px;
    padding: 0px;
    object-fit: cover;
    width: 5rem;
    height: auto;
    flex-grow: 1;
}

.mosaic-med{
    margin: 0px;
    padding: 0px;
    object-fit: cover;
    width: 15rem;
    height: auto;
    flex-grow: 2;
}

.mosaic-lrg{
    margin: 0px;
    padding: 0px;
    object-fit: cover;
    width: 25rem;
    height: auto;
    flex-grow: 5;
}

.footer{
    position: fixed;
    bottom: 0px;
    width: 100%;
}